/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343 */

/*===========================Newsletter==================================== */
body {
  font-family: Merriweather, Roboto, sans-serif;
  color: #131511;
  margin: 0px;
  line-height: 1.8;
  background-color: #F2F1E8;

  }

#newsletter {
  background-image: url(images/background-2.jpg);
  background-size: cover;
}

#site_header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;


  }

#logo img{
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 20px;
  }

.main_navigation{
  display: flex;
  width: 50%;
  height: 50px;
  justify-content: space-around;
  margin-top: 10px;
  margin-right: 320px;
  align-items: flex-end;
  }

.main_navigation a {
  color: #2B2F26;
  font-family: arial;
  font-size: 20px;
  }

.main_navigation a:hover {
  color: #CD5D67;
  }

.main_navigation a:active {
  color: #968772;
  }

fieldset{
  text-align: center;
  background-color: #FFFFFF;
  border: none;
  margin-top: 150px;
  height: 300px;
  padding: 20px;
  }

fieldset h2, h3{
  font-weight: normal;
  }

.navigation {
  display: flex;
  align-items: center;
  }

main {
  display: flex;
  justify-content: center;

  }

ul {
display: block;
margin-right: 50px;
  }

input {
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #968772;
  width: 95%;
  margin: 10px;
  margin-top: 20px;
  }

#submit {
  width: 20%;
  border: none;
  background-color: #968772;
  color: #F2F1E8;
  margin-top: 10px;
  padding: 15px;
  }
#submit:hover{
  background-color: #967343;
  color: #FFFFFF;
}

footer {
  color: white;
  background-color: #4A4444;
  font-weight: lighter;
  padding: 20px;
}

#birdhouse {
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px;

}
#about {
  background-color: #F2F1E8;
  display: flex;
  flex-direction: column;


}
aside img{
  width: 120px;
  height: 100px;


}
#facilities{
  display: flex;
}

#about h1{
  text-align: center;
  font-size: 300%;
  font-weight: normal;
}
#opening {
  width: 50%;
}

table, thead, th, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;

}
table{
  margin-bottom: 50px;
}
thead, tr{

}
.info {
  margin-left: 200px;
  margin-right: 200px;

}

#mission{
  border-left: 2px solid #968772;
  padding-left: 15px;
}
#caption {
  font-size: 14px;
  font-weight: lighter;
}
.shaded{
  background-color: #FBEDBF;
}

#succulents{
  text-align: center;
  color: white;
  font-size: 30px;
  background: url("images/background-3.jpg") repeat fixed 100%;
  margin-top: 20px;
  margin-bottom: 20px;

}
#succulContents{
  padding: 50px;

}
#homepage{
  display: flex;
  flex-direction: column;

}
.headers{
  text-align: center;
}

.headers h1{
  font-size: 300%;
  font-weight: normal;
  margin-bottom: 0px;

}
.headers h4{
  font-size: 200%;
  font-weight: lighter;
  margin-top: 0px;
}
.photoRows{
  display: flex;

}
#plants{
  background: url("images/product-1.jpg");
  width: 50%;
  height: 300px;
  background-size: cover;
  background-position: top;
  margin: 10px;

}

#plates {
  background: url("images/product-2.jpg");
  width: 25%;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin: 10px;
}
#homepage p{
  color: #F2F1E8;
  padding: 10px;
  background-color: #4A4444;
  width: 35%;
  position: relative;
  top: 200px;

}
#tray{
  background: url("images/product-3.jpg");
  width: 25%;
  height: 300px;
  background-size: cover;
  margin: 10px;

}
#teacup {
  background: url("images/product-4.jpg");
}
#jars {
  background: url("images/product-5.jpg");

}
#bowls {
  background: url("images/product-6.jpg");
}
